<div class="event">
    <div class="label">
        <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
    </div>
    <div class="content">
        <div class="summary">
            <a><%= message.user.username %></a> posted a message
            <div class="date">
                <%= time_ago_in_words(message.created_at) %> ago
            </div>
        </div>
        <div class="extra text">
            <%= message.body %>
        </div>
    </div>
</div>
